#nowplaying{
	ul{
		li{
			overflow:hidden;
			padding:10px;
			img{
				float:left;
				width: 62px;
				height:82px;
			}
		}
	}
	h3{
		font:16px/32px "";
	}
	p{
		font:12px/24px "";
		color:#8e8e8e;
		margin-left:0;
	}
	span{
		margin-left:0;
	}
	.name{
		margin-left:15px;
		float:left;
	}
	.number{
		color:#8aa2bf;
	}
	.watch{
		margin-left:50px;
	}
}